{% trans_default_domain 'BenGorUser' %}

<section>
    <p>
        {{ email }}:<br/>
        {{ 'request_remember_password.view_content' | trans }}
    </p>
    {% include 'BenGorUserBundle:change_password:default.html.twig' %}
</section>
