{% trans_default_domain 'BenGorUser' %}

<section>
    <p>
        {{ email }}:<br/>
        {{ 'request_remember_password.view_content' | trans }}
    </p>
    {% include '@BenGorUser/change_password/by_request_remember_password.html.twig' %}
</section>
