{% extends '@BenGorUser/change_password/change_password.html.twig' %}

{% block bengor_user_content %}
    <p>
        {{ email }}:<br/>
        {{ 'request_remember_password.view_content' | trans }}
    </p>
    {{ parent() }}
{% endblock %}
